<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Register CookieConsent ViewModel in Hyva's ViewModelRegistry -->
    <type name="Hyva\Theme\Model\ViewModelRegistry">
        <arguments>
            <argument name="viewModels" xsi:type="array">
                <item name="cookie_consent" xsi:type="string">Pixelperfect\HyvaCookieConsent\ViewModel\CookieConsent</item>
            </argument>
        </arguments>
    </type>
</config>
